*{
    color:blue;
}

h1{
    color:green;
}

button{
    color:rgb(34, 68, 34);
    background-color: white;
}


#headingOne{
    color: yellow;
}
#headingTwo{
    color: chocolate;
}

.myClass{
    color:magenta;
}

/* p{
    color:rgb(47, 90, 47);
}

body{ */
    /* background-color:rgb(191,34,115); */
    /* background-color:#BEB2C8;
/* }  




